link: https://www.kaggle.com/kswamy15/mercari-using-pytorch

In [1]:
import torch
from torch.autograd import Variable
from torch import optim
from torch.optim import lr_scheduler
from torch import nn as nn
from torch.utils.data import Dataset, DataLoader
from torchvision import transforms, utils
import torch.nn.functional as F

In [2]:
import numpy as np
import pandas as pd
import time

In [3]:
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
import math

In [4]:
train_df = pd.read_csv('data/mercari/train.tsv', sep='\t')
test_df = pd.read_csv('data/mercari/test.tsv', sep='\t')

In [5]:
train_df.describe()

           train_id  item_condition_id         price      shipping
count  1.482535e+06       1.482535e+06  1.482535e+06  1.482535e+06
mean   7.412670e+05       1.907380e+00  2.673752e+01  4.472744e-01
std    4.279711e+05       9.031586e-01  3.858607e+01  4.972124e-01
min    0.000000e+00       1.000000e+00  0.000000e+00  0.000000e+00
25%    3.706335e+05       1.000000e+00  1.000000e+01  0.000000e+00
50%    7.412670e+05       2.000000e+00  1.700000e+01  0.000000e+00
75%    1.111900e+06       3.000000e+00  2.900000e+01  1.000000e+00
max    1.482534e+06       5.000000e+00  2.009000e+03  1.000000e+00

In [6]:
train_df.shape

(1482535, 8)

In [7]:
train_df.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [8]:
print('Train columns with null values:\n', train_df.isnull().sum())
print("-"*10)

print('Test/Validation columns with null values:\n', test_df.isnull().sum())
print("-"*10)

train_df.describe(include = 'all')

Train columns with null values:
 train_id                  0
name                      0
item_condition_id         0
category_name          6327
brand_name           632682
price                     0
shipping                  0
item_description          4
dtype: int64
----------
Test/Validation columns with null values:
 test_id                   0
name                      0
item_condition_id         0
category_name          3058
brand_name           295525
shipping                  0
item_description          0
dtype: int64
----------

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
count,1.482535e+06,1482535,1.482535e+06,1476208,849853,1.482535e+06,1.482535e+06,1482531
unique,NaN,1225273,NaN,1287,4809,NaN,NaN,1281426
top,NaN,Bundle,NaN,"Women/Athletic Apparel/Pants, Tights, Leggings",PINK,NaN,NaN,No description yet
freq,NaN,2232,NaN,60177,54088,NaN,NaN,82489
mean,7.412670e+05,NaN,1.907380e+00,NaN,NaN,2.673752e+01,4.472744e-01,NaN
std,4.279711e+05,NaN,9.031586e-01,NaN,NaN,3.858607e+01,4.972124e-01,NaN
min,0.000000e+00,NaN,1.000000e+00,NaN,NaN,0.000000e+00,0.000000e+00,NaN
25%,3.706335e+05,NaN,1.000000e+00,NaN,NaN,1.000000e+01,0.000000e+00,NaN
50%,7.412670e+05,NaN,2.000000e+00,NaN,NaN,1.700000e+01,0.000000e+00,NaN
75%,1.111900e+06,NaN,3.000000e+00,NaN,NaN,2.900000e+01,1.000000e+00,NaN
max,1.482534e+06,NaN,5.000000e+00,NaN,NaN,2.009000e+03,1.000000e+00,NaN

Calculate how much of the brand names are not there.

In [9]:
print(632682/train_df.shape[0])

0.4267568725190299

Around 50% is not there hence we should probably not consider this.

In [10]:
train_df = train_df.drop(['brand_name'], axis=1)
test_df = test_df.drop(['brand_name'], axis=1)

# categories

We need to check how many categories there are

In [35]:
# Merge the two dataframes
frames = [train_df, test_df]
combined_df = pd.concat(frames)

In [39]:
combined_cat_df = combined_df['category_name']
def split_cat(text):
    try: return text.split("/")
    except: pass

combined_cat_df = combined_cat_df.apply(lambda x: split_cat(x))

In [54]:
def no_of_cats(cat_list):
    try: return len(cat_list)
    except: return 0
    
no_of_cats = pd.DataFrame(combined_cat_df.apply(lambda x: no_of_cats(x)))

In [75]:
# no_of_cats['category_name'].max(axis=1)
index_whr_max_categories = no_of_cats['category_name'].argmax()
print(index_whr_max_categories)
max_num_of_categories = len(split_cat(combined_df.iloc[[index_whr_max_categories]]['category_name'].tolist()[0]))
print('there are a maximum of {} categories and this is happened in row:'.format(max_num_of_categories))
combined_df.iloc[[index_whr_max_categories]]

239
there are a maximum of 5 categories and this is happened in row:

,category_name,item_condition_id,item_description,name,price,shipping,test_id,train_id
239,Electronics/Computers & Tablets/iPad/Tablet/eB...,1,Zag invisible shield for IPad air,Zagg invisible shield for IPad air,10.0,1,NaN,239.0

In [ ]:
def split_cat(text):
    try: return text.split("/")
    except: return ("None", "None", "None")

In [11]:
train_df[train_df.isnull().any(axis=1)]

,train_id,name,item_condition_id,category_name,price,shipping,item_description
122,122,Bundle,3,NaN,59.0,0,Sizes and info of clothes can be found on thei...
155,155,3 Nora Roberts Books,3,NaN,10.0,1,For aferg16.
258,258,ACER Laptop,5,NaN,14.0,0,"Powers on, no screen display, no external dama..."
984,984,AUTHENTIC BRWN MICHAEL KORS MAKEUP STAIN,4,NaN,18.0,0,No description yet
1185,1185,Teenage Mutant Ninja Turtle Van/ Extras,3,NaN,9.0,0,"Teenage Mutant Ninja Turtle Van, April O'Neil ..."
1274,1274,Black Ribbed Off-the-Shoulder Crop Top,2,NaN,15.0,0,From the silence + noise brand sold at Urban O...
1320,1320,Nice Condition Pet Escort,2,NaN,12.0,0,Nice condition I will wipe down before selling
1419,1419,3 Toy Bundle,1,NaN,34.0,0,"* brand new/NIB * ** price firm, no free shipp..."
1491,1491,Baby Sign,3,NaN,3.0,1,Magnetic baby sign
1521,1521,Nolan Ryan Patch Baseball Card,2,NaN,3.0,1,No description yet
1739,1739,SchoolWear Uniform Pants Bugle Boy,2,NaN,5.0,1,Selling Kids Pant celebrate the back to school...
2076,2076,iPhone 5s,3,NaN,96.0,0,"Has a screen protector on it, no sim, T-Mobile..."
2195,2195,Raw Adjustable Rolling Machine,2,NaN,8.0,1,No description yet
2299,2299,Reserved For Karen Panetta,2,NaN,21.0,0,Used once. Cards easily slide in the sides and...
2620,2620,***Deal of the Day*** Mini-Hikari NIB,1,NaN,8.0,1,Funko Star Wars Mini-Hikari Smugglers Bounty W...
2782,2782,Jessica Simpson Lace Maternity Dress,3,NaN,21.0,0,Jessica Simpson lace matenity dress worn once....
2838,2838,NWT Toddler/Girls Vs Pink Outfit,1,NaN,30.0,1,NWT Toddler/Girls Victorias Secret Pink Outfit...
3128,3128,14pc Smell Good Bundle,2,NaN,22.0,0,L. Tulips & Raspberry Tea BBW New Malibu Heat ...
3851,3851,Vintage Native America jewelry bundle,4,NaN,20.0,1,Includes 2. Watches Selectime 1. Silver Turquo...
3916,3916,Reserved Bundle,2,NaN,16.0,0,2 American Eagle T-Shirts
4194,4194,Space Place Minibe And Rosy Posy,1,NaN,158.0,1,NWT Jujube x Tokidoki space place mini be. Cut...
4209,4209,custom woodslice for sam,1,NaN,29.0,0,No description yet
4862,4862,Bundle of 3 Swaddlers,2,NaN,13.0,0,*reserved*
5146,5146,Twenty One Pilots Blurry face CD,2,NaN,6.0,1,No scratches works perfectly only played once
5163,5163,Vlampo Birthday Cake Squishy,2,NaN,20.0,0,-Comes in two original packaging -The mint gre...
5343,5343,Women's size 12,3,NaN,9.0,1,1. Size 12 studio works black and white design...
5627,5627,Hard Rock Black Bon Jovi Shirt,2,NaN,6.0,1,Hard Rock Hotel Bon Jovi Black Shirt. Size lar...
6147,6147,Women's Nike Workout Tank,2,NaN,14.0,0,White cotton workout tank. US soccer logo has ...
6348,6348,Pineapple Decal GLITTER,1,NaN,6.0,1,ALL COLORS AVAILABLE ... just ask and I'll pos...
6886,6886,4 Philips Agent Natural Bottles,3,NaN,18.0,0,All 4 bottles come with the caps and have been...
...,...,...,...,...,...,...,...
1474220,1474220,Ariana Grande Signed Postcard,2,NaN,31.0,0,It's a limited edition signed postcard that ca...
1474923,1474923,The North Face black and pink hoodie,2,NaN,19.0,0,Medium The North Face black and pink hooded sw...
1475747,1475747,Reserved for JaeDunk83 Only,1,NaN,20.0,0,New pumpkin coconut 3 wick candle.
1475847,1475847,Antique Swedish Copper Tea Kettle,2,NaN,14.0,0,This is an antique Swedish Copper Tea Kettle. ...
1476120,1476120,Vintage Aristocats Disney Polly Pocket,3,NaN,41.0,0,Very good condition complete set with all figu...
1476662,1476662,Dogtra iQ training collar new with remot,2,NaN,86.0,0,Item is new but box has been opened and is a l...
1476668,1476668,Nike Dri fit Tennis Set,2,NaN,19.0,1,Tennis skirt and top. Top is XS and skirt is S...
1477396,1477396,Flask & Shot Glass- Reserved MDeck641,1,NaN,50.0,1,4 Shot glasses 4 Flasks Name of groomsmen and ...
1477873,1477873,Entei Ex Holo Textured Card,2,NaN,40.0,1,"Extremely rare card, its mint. Sold as is, no ..."
1477900,1477900,Sweater Bundle,2,NaN,31.0,0,Has faint sparkles in the sewing. Only worn a ...
1478078,1478078,[rm] Disney Collectors Mug,2,NaN,81.0,0,"""Mickey Through the Years "" USED AS DECOR 6.5 ..."
1478247,1478247,Mustard Yellow Small Carly,1,NaN,35.0,1,"Leggings material, new with tags."
1478454,1478454,Large lot 3t girls clothes,3,NaN,24.0,0,17 piece lot of toddler girls 3t clothes. Pref...
1478898,1478898,6x Headphones + iPhone USB Cable Charger,1,NaN,14.0,1,Brand New 2 iPhones Earphones 4 USB Charging C...
1478923,1478923,"HOLD 9/16"" and 2g Plugs Tapers Set",1,NaN,33.0,1,"9/16"" Amber Honeycomb 9/16"" White Glow in dark..."
1479117,1479117,"BELL BOTTOM, HIPPIE PANTS",2,NaN,38.0,0,"Hippie pants, bell bottom pants Grey suede, ve..."
1479167,1479167,Steve Madden Black Heels,3,NaN,24.0,0,Please look at the photos before purchasing
1479245,1479245,Women's Raw One Multivitamin Never Used,1,NaN,13.0,0,Never opened! Brand new. Originally [rm].
1480098,1480098,Nike Slides *On hold*,3,NaN,14.0,0,Worn but not a lot
1480224,1480224,2xl Amelia Lularoe,2,NaN,50.0,1,New without tags. Only tried on. Only the dres...
1480241,1480241,BRAND NEW Guinness World Records 2017,1,NaN,21.0,0,BRAND NEW
1480798,1480798,Brand New Boombox,1,NaN,7.0,0,"Never used in original package, you plug your ..."
1480949,1480949,Puma Girls Shirt,2,NaN,3.0,1,It's a large in girls.
1480995,1480995,Sailor Moon Purse,3,NaN,13.0,0,Sailor moon purse with moon symbol on the fron...
1481003,1481003,Bundle For Everdeen,1,NaN,45.0,0,Reserved :)
1481249,1481249,Only For Erin. Do Not Buy,3,NaN,31.0,0,No description yet
1481750,1481750,American Eagle Jeggings,2,NaN,17.0,0,Worn a couple of time Size 4
1482252,1482252,Bundle For All Honey :),3,NaN,40.0,0,No description yet
1482443,1482443,HOLD 14g Purple Prong Nipple Bars Rings,1,NaN,22.0,1,14g Purple Prong Set Nipple Bars Rings [surgic...
1482473,1482473,Puma Suede Emboss,2,NaN,30.0,1,Worn Once!!! Great condition!!!

In [12]:
value_list = ['iPhone']
train_df[train_df.name.isin(value_list)]

,train_id,name,item_condition_id,category_name,price,shipping,item_description
161166,161166,iPhone,1,Electronics/Cell Phones & Accessories/Cell Pho...,4.0,1,Luxury 360° Hybrid Acrylic Hard Case Original ...
331692,331692,iPhone,2,Electronics/Cell Phones & Accessories/Cell Pho...,76.0,0,iCloud lock!!! Screen protector no scratches! ...
502203,502203,iPhone,3,Electronics/Cell Phones & Accessories/Cell Pho...,26.0,1,No description yet
901734,901734,iPhone,1,Electronics/Cell Phones & Accessories/Cell Pho...,17.0,1,Apple iPhone headphones for iPhones compatible...
968525,968525,iPhone,2,Electronics/Cell Phones & Accessories/Cell Pho...,19.0,0,Two iPhone 4s they are locked so they are to b...
1198530,1198530,iPhone,2,Electronics/Cell Phones & Accessories/Cell Pho...,116.0,0,iPhone 5c no cracks brand new unlocked (no SIM...
1220558,1220558,iPhone,4,Electronics/Cell Phones & Accessories/Cell Pho...,16.0,1,"iPhone 4 Cracked front Back up for sale, had i..."
1385743,1385743,iPhone,4,Electronics/Cell Phones & Accessories/Cell Pho...,20.0,1,It works won't turn on need a battery and new ...
1473558,1473558,iPhone,3,Electronics/Cell Phones & Accessories/Cell Pho...,80.0,1,iPhone 6 model number A1586. Found never could...

For the missing category names we should try to find some unsupervised learning so that some amount filling of the data should be present.

# Running NLP on the categories

We will first try to classify the documents and see if we can get some meaningful classification based on that.

Idea is to use only the name to predict the category name

So we will drop all the remaining columns

In [14]:
print(train_df.columns.tolist())

['train_id', 'name', 'item_condition_id', 'category_name', 'price', 'shipping', 'item_description']

In [15]:
from copy import deepcopy
category_df = deepcopy(train_df)

In [17]:
category_df = category_df.drop(['train_id', 'item_condition_id', 'price', 'shipping'], axis=1)

In [19]:
category_df.sample(2)

,name,category_name,item_description
141410,Color pop,Beauty/Makeup/Lips,4 bundled color pop lip Matte gloss . Haven't ...
1141493,Bluetooth sunglasses✨✨✨ FOR KIMARI✨✨,Electronics/Cell Phones & Accessories/Headsets,"Brand new, with case and cord, also free shipp..."

In [31]:
# predict_category_df = category_df[category_df.isnull().any(axis=1)]
predict_category_df = category_df[pd.isnull(category_df['category_name'])]
train_test_categry_df = category_df[pd.notnull(category_df['category_name'])]
train_categry_df, test_categry_df = train_test_split(train_test_categry_df, test_size=0.2, random_state=42)
print('separated into predict, train and test')
print(category_df.shape, predict_category_df.shape, train_categry_df.shape, test_categry_df.shape)
print(predict_category_df.shape[0] + train_categry_df.shape[0] + test_categry_df.shape[0])

separated into predict, train and test
(1482535, 3) (6327, 3) (1180966, 3) (295242, 3)
1482535

In [33]:
X_train_category_df = train_categry_df[['name', 'item_description']]
y_train_category_df = train_categry_df[['category_name']]
X_test_category_df = test_categry_df[['name', 'item_description']]
y_test_category_df = test_categry_df[['category_name']]
print('separate to x and y')
print(X_train_category_df.shape, y_train_category_df.shape, X_test_category_df.shape, y_test_category_df.shape)

separate to x and y
(1180966, 2) (1180966, 1) (295242, 2) (295242, 1)

category names are based on parent -> sub category -> subcategory etc. Need to find how many categories are there.

In [34]:
y_train_category_df

                                             category_name
943192                            Kids/Boys 0-24 Mos/Shoes
397137                                Women/Shoes/Athletic
697816                                   Kids/Toys/Hobbies
533679           Women/Women's Accessories/Scarves & Wraps
301180              Sports & Outdoors/Team Sports/Football
1109668           Electronics/Video Games & Consoles/Games
1045872                                   Home/Other/Other
1019048                          Women/Dresses/Knee-Length
555202   Beauty/Tools & Accessories/Makeup Brushes & Tools
498191      Home/Kitchen & Dining/Coffee & Tea Accessories
768638                       Women/Tops & Blouses/T-Shirts
1301139                               Beauty/Fragrance/Men
1105231                              Home/Artwork/Drawings
1296220                           Kids/Girls 2T-5T/Bottoms
1262921                                 Beauty/Makeup/Lips
28440                                    Women/Shoes/Pumps
1352473                               Women/Shoes/Athletic
881805      Women/Athletic Apparel/Pants, Tights, Leggings
412277   Home/Storage & Organization/Jewelry Boxes & Or...
637905      Women/Athletic Apparel/Pants, Tights, Leggings
765711                             Kids/Toys/Arts & Crafts
181073                                   Women/Jeans/Other
904456                          Women/Coats & Jackets/Vest
230790                             Women/Jewelry/Bracelets
851241                                  Beauty/Makeup/Lips
1111370                                 Beauty/Makeup/Lips
1020928                    Men/Coats & Jackets/Windbreaker
578865                             Women/Underwear/Panties
1450673                               Women/Underwear/Bras
998600                                Women/Jeans/Leggings
...                                                    ...
993695                             Kids/Toys/Arts & Crafts
1476789  Electronics/Cell Phones & Accessories/Cell Pho...
1401999                             Kids/Girls 2T-5T/Shoes
185567      Women/Athletic Apparel/Pants, Tights, Leggings
1268161                   Other/Books/Education & Teaching
1289888                    Women/Women's Accessories/Other
103784                               Kids/Boys 2T-5T/Shoes
795173          Women/Athletic Apparel/Tracksuits & Sweats
1252963                      Men/Men's Accessories/Wallets
328485                            Women/Jeans/Slim, Skinny
1376327                                 Beauty/Makeup/Face
790605                                   Women/Pants/Other
1118203                                  Women/Shoes/Boots
330797          Women/Athletic Apparel/Tracksuits & Sweats
41289                        Women/Athletic Apparel/Shorts
279384            Vintage & Collectibles/Toy/Action Figure
1245224                    Women/Tops & Blouses/Tank, Cami
175955                   Women/Coats & Jackets/Jean Jacket
916700                                   Women/Skirts/Maxi
1140971           Other/Daily & Travel items/Personal Care
1004199                              Men/Tops/Button-Front
137902   Electronics/TV, Audio & Surveillance/Portable ...
1108226                    Women/Tops & Blouses/Tank, Cami
735338                      Handmade/Housewares/Wall Decor
110722                            Women/Jeans/Slim, Skinny
260300                              Beauty/Fragrance/Women
1420457                   Kids/Girls 2T-5T/Coats & Jackets
132475         Electronics/Video Games & Consoles/Consoles
674037                     Women/Tops & Blouses/Tank, Cami
122464                      Women/Maternity/Tops & Blouses

[1180966 rows x 1 columns]

In [22]:
X_category_df = category_df[['name', 'item_description']]
y_category_df = category_df[['category_name']]